<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcCR0KCUazqubFuqCmRU4Sf_brHE5xo5s</string>
	<key>GCM_SENDER_ID</key>
	<string>554743733717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AmirNasser.InstagramMe</string>
	<key>PROJECT_ID</key>
	<string>instagramme-b1646</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramme-b1646.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554743733717:ios:610e71828895e43c54f15c</string>
</dict>
</plist>